<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACHo04VdQcRW8081YSOfPA0cEg0wP7LY4</string>
	<key>GCM_SENDER_ID</key>
	<string>524506333947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cc.ihugo.app.ABPlayer</string>
	<key>PROJECT_ID</key>
	<string>abplayer-f9b8f</string>
	<key>STORAGE_BUCKET</key>
	<string>abplayer-f9b8f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524506333947:ios:b04161710de6d440a7e65e</string>
</dict>
</plist>